/*Geral*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgba(238, 169, 42, 0.286);
}

.agenda{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/*Corpo calendário*/
.calendario, .dias-semana, .seteh, .oitoh, .noveh, .dezh, .onzeh, .dozeh, .umah, .duash, .tresh, .quatroh, .cincoh, .seish {
    width: 80%;
    border-collapse: collapse;
    border: 1.5px solid #000000;
}

.calendario {
    width: 77%;
    border-collapse: collapse;
    background-color: rgba(238, 169, 42, 0.286);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.calendario th {
    background-color: rgba(238, 169, 42, 0.286);
    font-weight: bold;
}

.calendario th, .calendario td{
    border: 1.5px solid #000000;
    padding: 8px;
    text-align: center;
}

.calendario td{
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0px;
    white-space: nowrap;
    padding: 0px;
}

.dias-semana th{
    width: 500px;
}

/*Cabeçalho Superior*/
.nome-agenda{
    font-weight: bold;
}

.cabecalho-superior{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffa500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.579);
    border-radius: 5px;
    margin-bottom: 0.75px;
}

.mudar-semana{
    color: #3681cb;
    cursor: pointer;
    font-weight: bolder;
}

/*Lateral esquerda*/
.lateral-esquerda{
    width: 215px;
    display: flex;
    flex-direction: column;
    padding-right: 0.5px;
}

.compromissos{
    background-color: rgb(245, 189, 85);
    padding-top: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(30, 28, 28, 0.525);
    margin-bottom: 0px;
    margin-top: 0.75px;
    margin-right: 0.01px;
}

.compromissos h5{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
}

.lista-compromissos {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-compromissos li{
    padding: 20px 0;
    border-bottom: 1px solid #f5f5f5;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lista-compromissos li:last-child {
    border-bottom: none;
}

.botoes-marcar{
    display: flex;
    gap: 0.5px;
}

.botoes-marcar button{
    flex: 1;
    padding: 25px 0px;
    width: 5%;
    box-shadow: 0 2px 5px rgba(11, 11, 11, 0.704);
}

.desmarcar{
    border-right-width: 1px;
    background-color: rgb(239, 181, 47);
    font-weight: bold;
}

.editar{
    background-color: rgb(33, 248, 123);
    font-weight: bold;
}

.marcar{
    background-color: rgb(152, 241, 19);
    font-weight: bold;
}

.botoes-util{
    display: flex;
    gap: 0.11px;
}

.botoes-util  button{
    width: 100%;
    padding: 22px 0px;
    font-weight: bold;
}

.mudar{
    background-color: rgb(6, 212, 249);
}

.buscar{
    background-color: #ffff00;
}

/*Modal agendamento*/
.content-agendar{/*form.html*/
    display: none;
}

.content-editar{/*form.html*/
    display: none;
}

.content-remover{/*form.html*/
    display: none;
}

.content-buscar{/*form.html*/
    display: none;
}

.calendario-buscar{/*form.html*/
    display: flex;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
}

.lista-editar{/*form.html*/
    list-style: none;
}

.lista-editar li{/*form.html*/
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 40px;
    cursor: pointer;
}

.modal-agenda/*index.html*/ {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content/*index.html*/ {
  background-color: #fff;
  margin: 10% auto;
  padding: 0;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.modal /*form.html*/{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  text-align: center;     
  height: 100%;
}           

/*Botoes modal(form.html)*/
.botao-cancelar{
    width: 67px;
}

.botao-salvar{
    width: 67px;
}

/*Destacar item selecionado na lista*/
.selecionado {
  background-clip: content-box;
  background-color: #979898;
}

/*Body do form.html*/
.body-form{/*form.html*/
    padding-top: 0px;
}

/* static/css/style.css */

/* TEMA PADRÃO (DIA) */
#body-index {
    background-color: rgb(201, 222, 253);
}
#cabecalho-superior {
    background-color: rgb(76, 141, 246);
}
#compromissos {
    background-color: rgb(165, 199, 251);
}
#calendario {
    background-color: rgb(219, 234, 254);
}
#calendario th {
    background-color: rgb(183, 210, 252);
}
.mudar-semana {
    color: #33df11;
}
/* Adicione aqui os estilos dos botões para o tema DIA */


/* TEMA TARDE */
body.theme-tarde {
    background-color: rgba(238, 169, 42, 0.286);
}
.theme-tarde #cabecalho-superior {
    background-color: #ffa500;
}
.theme-tarde #compromissos {
    background-color: rgb(245, 189, 85);
}
.theme-tarde #calendario {
    background-color: rgba(238, 169, 42, 0.286);
}
.theme-tarde #calendario th {
    background-color: rgba(238, 169, 42, 0.286);
}
.theme-tarde .mudar-semana {
    color: #3681cb;
}
/* Adicione aqui os estilos dos botões para o tema TARDE */


/* TEMA NOITE */
body.theme-noite {
    background-color: rgb(112, 164, 248);
}
.theme-noite #cabecalho-superior {
    background-color: rgb(39, 86, 198);
}
.theme-noite #compromissos {
    background-color: rgb(46, 100, 214);
}
.theme-noite #calendario {
    background-color: rgb(94, 153, 247);
}
.theme-noite #calendario th {
    background-color: rgb(52, 115, 230);
}
.theme-noite .mudar-semana {
    color: purple;
}
/* Adicione aqui os estilos dos botões para o tema NOITE */