{% extends 'base.html' %}

{% block content %}
    <h2>{{ titulo_pagina }}</h2>

    <form method="POST" action="{{ url_for('edit', id=agendamento.id) if agendamento else url_for('add') }}">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" name="titulo" 
                   value="{{ agendamento.titulo if agendamento else '' }}" required>
        </div>
        <div class="form-group">
            <label for="data_evento">Data do Evento</label>
            <input type="date" class="form-control" id="data_evento" name="data_evento" 
                   value="{{ agendamento.data_evento.strftime('%Y-%m-%d') if agendamento else '' }}" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3">{{ agendamento.descricao if agendamento else '' }}</textarea>
        </div>
        
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{{ url_for('index') }}" class="btn btn-light">Cancelar</a>
    </form>
{% endblock %}