{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Formulário de Agendamento</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <div class="modal">
    <!--Título do modal de agendar-->
    <h3>Agendar compromisso</h3>

    <form id="form-agendamento">
      <!--Dados para agendar compromisso-->
      <label>
        Título:<br>
        <input  id="titulo" type="text"><br><br>
      </label>
      
      <label>
        Data:<br>
        <input id="data" type="date"><br><br>
      </label>
      
      <label>
        Descrição:<br>
        <textarea></textarea><br><br>
      </label>
      
      <!--Botões "salvar" e "cancelar"-->
      <button id="cancelar" class="botao-cancelar" type="button">Cancelar</button>
      <button id="salvar" class="botao-salvar" type="submit">Salvar</button>
    </form>

  </div>

  <!--Js dentro do modal de agendamento-->
  <script>
    document.getElementById("form-agendamento").onsubmit = function(event){

      /*Verificar titulo/data*/
      if(document.getElementById("titulo").value.trim() === "" && document.getElementById("data").value === ""){
        event.preventDefault();
        alert("Preencha os campos Título e Data para salvar!")
        return;
      }

      else if(document.getElementById("titulo").value.trim() === ""){
        event.preventDefault();
        alert("Preencha o campo Título para salvar!")
        return;
      }

      else if(document.getElementById("data").value === ""){
        event.preventDefault();
        alert("Preencha o campo Data para salvar!")
        return;
      }

      else{
        window.parent.document.getElementById("modal-agendamento").style.display = "none";
      }
    }

    /*Fechar modal ao cancelar*/
    document.getElementById("cancelar").addEventListener("click", function(event) {
      event.preventDefault(); 
      window.parent.document.getElementById("modal-agendamento").style.display = "none";
    });     
  </script>
</body>
</html>
{% endblock %}